name: Build and upload to PyPI

on:
  schedule:
    # trigger build every day at 4:30 UTC
    - cron: '30 4 * * *'
  push:
    tags:
      - '*'
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build_wheels:
    name: Build wheels on ${{ matrix.os }} for ${{ matrix.arch }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          # Linux x86_64
          - os: ubuntu-latest
            arch: auto
            platform-id: manylinux_x86_64
            python: 39
            requires-python: ">=3.9,<3.10"
          - os: ubuntu-latest
            arch: auto
            platform-id: manylinux_x86_64
            python: 310
            requires-python: ">=3.10,<3.11"
          - os: ubuntu-latest
            arch: auto
            platform-id: manylinux_x86_64
            python: 311
            requires-python: ">=3.11,<3.12"
          - os: ubuntu-latest
            arch: auto
            platform-id: manylinux_x86_64
            python: 312
            requires-python: ">=3.12,<3.13"
          - os: ubuntu-latest
            arch: auto
            platform-id: manylinux_x86_64
            python: 313
            requires-python: ">=3.13,<3.14"

          # Linux aarch64
          - os: ubuntu-latest
            arch: aarch64
            platform-id: manylinux_aarch64
            python: 39
            requires-python: ">=3.9,<3.10"
          - os: ubuntu-latest
            arch: aarch64
            platform-id: manylinux_aarch64
            python: 310
            requires-python: ">=3.10,<3.11"
          - os: ubuntu-latest
            arch: aarch64
            platform-id: manylinux_aarch64
            python: 311
            requires-python: ">=3.11,<3.12"
          - os: ubuntu-latest
            arch: aarch64
            platform-id: manylinux_aarch64
            python: 312
            requires-python: ">=3.12,<3.13"
          - os: ubuntu-latest
            arch: aarch64
            platform-id: manylinux_aarch64
            python: 313
            requires-python: ">=3.13,<3.14"

          # macOS x86_64
          - os: macos-15-intel
            arch: x86_64
            platform-id: macosx_x86_64
            python: 39
            requires-python: ">=3.9,<3.10"
          - os: macos-15-intel
            arch: x86_64
            platform-id: macosx_x86_64
            python: 310
            requires-python: ">=3.10,<3.11"
          - os: macos-15-intel
            arch: x86_64
            platform-id: macosx_x86_64
            python: 311
            requires-python: ">=3.11,<3.12"
          - os: macos-15-intel
            arch: x86_64
            platform-id: macosx_x86_64
            python: 312
            requires-python: ">=3.12,<3.13"
          - os: macos-15-intel
            arch: x86_64
            platform-id: macosx_x86_64
            python: 313
            requires-python: ">=3.13,<3.14"

          # macOS arm64
          - os: macos-latest
            arch: arm64
            platform-id: macosx_arm64
            python: 39
            requires-python: ">=3.9,<3.10"
          - os: macos-latest
            arch: arm64
            platform-id: macosx_arm64
            python: 310
            requires-python: ">=3.10,<3.11"
          - os: macos-latest
            arch: arm64
            platform-id: macosx_arm64
            python: 311
            requires-python: ">=3.11,<3.12"
          - os: macos-latest
            arch: arm64
            platform-id: macosx_arm64
            python: 312
            requires-python: ">=3.12,<3.13"
          - os: macos-latest
            arch: arm64
            platform-id: macosx_arm64
            python: 313
            requires-python: ">=3.13,<3.14"

          # Windows AMD64
          - os: windows-latest
            arch: auto
            platform-id: win_amd64
            python: 39
            requires-python: ">=3.9,<3.10"
          - os: windows-latest
            arch: auto
            platform-id: win_amd64
            python: 310
            requires-python: ">=3.10,<3.11"
          - os: windows-latest
            arch: auto
            platform-id: win_amd64
            python: 311
            requires-python: ">=3.11,<3.12"
          - os: windows-latest
            arch: auto
            platform-id: win_amd64
            python: 312
            requires-python: ">=3.12,<3.13"
          - os: windows-latest
            arch: auto
            platform-id: win_amd64
            python: 313
            requires-python: ">=3.13,<3.14"

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          submodules: recursive
      
      - name: Add msbuild to PATH
        if: ${{ matrix.os == 'windows-latest'}}
        uses: microsoft/setup-msbuild@v1.3.1

      - name: Set up QEMU
        if: ${{ matrix.arch == 'aarch64' }}
        uses: docker/setup-qemu-action@v3
        with:
          platforms: all
          # This should be temporary
          # xref https://github.com/docker/setup-qemu-action/issues/188
          # xref https://github.com/tonistiigi/binfmt/issues/215
          image: tonistiigi/binfmt:qemu-v8.1.5
          id: qemu

      - name: Build wheels
        uses: pypa/cibuildwheel@v3.1.0
        env:
          CIBW_ARCHS: ${{ matrix.arch }}
          CIBW_PROJECT_REQUIRES_PYTHON: ${{ matrix.requires-python }}
          CIBW_BEFORE_BUILD_MACOS: pip install -r CI/requirements-wheel.txt
          CIBW_BEFORE_BUILD_WINDOWS: pip install -r CI/requirements-wheel.txt
          CIBW_TEST_COMMAND: cd {project}/CI && pytest test_functionality.py --capture=no
          CIBW_TEST_COMMAND_WINDOWS: cd /d {project}/CI && pytest -s -v test_functionality.py --capture=no
          CIBW_TEST_REQUIRES: pytest requests pytest-asyncio pytest-timeout
          CIBW_BUILD_VERBOSITY: 1
        with:
          package-dir: ./python/

      - uses: actions/upload-artifact@v4
        with:
          name: wheel-${{ matrix.python }}-${{ matrix.platform-id }}
          path: wheelhouse/*.whl

  build_sdist:
    name: Build source distribution
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          submodules: recursive

      - name: Build sdist
        run: cd python && pipx run build --sdist

      - uses: actions/upload-artifact@v4
        with:
          name: artifacts
          path: ./python/dist/*.tar.gz

  upload_pypi:
    needs: [build_wheels, build_sdist]
    runs-on: ubuntu-latest
    # upload to PyPI on every tag starting with 'v'
    if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags/v')
    steps:
      - uses: actions/download-artifact@v4
        with:
          path: dist
          pattern: 'wheel-*'
          merge-multiple: true

      - uses: actions/download-artifact@v4
        with:
          path: dist
          name: artifacts

      - name: Publish to PyPI
        if: github.repository == 'xorbitsai/xoscar'
        uses: pypa/gh-action-pypi-publish@v1.12.4
        with:
          user: __token__
          password: ${{ secrets.PYPI_PASSWORD }}

      - name: Publish to Test PyPI
        if: github.repository != 'xorbitsai/xoscar'
        uses: pypa/gh-action-pypi-publish@v1.12.4
        with:
          user: __token__
          password: ${{ secrets.TEST_PYPI_PASSWORD }}
          verbose: true
          repository_url: https://test.pypi.org/legacy/
